<div class="register-wrapper">
  <div class="register-content">
    <md-toolbar color="primary">
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
    </md-toolbar>

    <form id="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <fieldset formGroupName="registerInfo">
        <md-input-container>
          <input mdInput type="text" placeholder="username" class="full-width" formControlName="username" name="" value="">
        </md-input-container>
        <md-input-container>
          <input mdInput type="email" placeholder="email" class="full-width" formControlName="email" name="" value="">
        </md-input-container>
        <md-input-container>
          <input mdInput type="password" placeholder="password" class="full-width" formControlName="password" name="" value="">
        </md-input-container>
      </fieldset>
      <md-input-container>
        <input mdInput type="password" placeholder="confirm" class="full-width" formControlName="confirm" name="" value="">
      </md-input-container>

      <div class="btn-wrapper">
        <button type="submit" md-raised-button color="primary">Register</button>
        <a routerLink="/auth/login" md-raised-button color="primary">Login</a>
      </div>
      <p class="forgot-password">
        <a class="mdl-color-text--accent" routerLink="/auth/forgot-password">forgot password ...</a>
      </p>
    </form>
  </div>
</div>