
<div class="forgot-password-wrapper">
  <div class="forgot-password-content ">
    <md-toolbar color="primary">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </md-toolbar>
    <form *ngIf="emailSent == false" id="forgot-password-form" [formGroup]="forgotForm" (ngSubmit)="sendRecoverToEmail()">
      <md-input-container>
        <input mdInput type="email" placeholder="email" class="full-width" formControlName="email" name="" value="">
      </md-input-container>
      <div class="btn-wrapper">
        <button type="submit" md-raised-button color="primary">Register</button>
        <a routerLink="/auth/login" md-raised-button color="primary">Login</a>
      </div>
    </form>
    <md-card *ngIf="emailSent == true">
      <md-card-title>
        {{responseText}}
      </md-card-title>
    </md-card>
  </div>
</div>