
<div class="forgot-password-wrapper">
  <div class="forgot-password-content ">
    <h3 class="mdl-color--primary"><i class="fa fa-envelope" aria-hidden="true"></i></h3>

    <form id="forgot-password-form" action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">email</label>
      </div>


      <div class="btn-wrapper">
        <!-- Raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect mdl-color-text--white">
          Recover
        </button>
        <!-- Raised button with ripple -->
        <a routerLink="/login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect mdl-color-text--white">
          Login
        </a>
      </div>
    </form>
  </div>
</div>