<div class="login-wrapper">
  <div class="login-content ">
    <md-toolbar color="primary">
      <i class="fa fa-key" aria-hidden="true"></i>
    </md-toolbar>

    <form id="login-form" action="#" [formGroup]="loginForm">
      <md-input-container>
        <input mdInput type="text" placeholder="username" class="full-width" formControlName="username" name="" value="">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" placeholder="password" class="full-width" formControlName="password" name="" value="">
      </md-input-container>

      <div class="btn-wrapper">
        <button type="submit" md-raised-button color="primary">Login</button>
        <a routerLink="/auth/register" md-raised-button color="primary">Register</a>
      </div>
    </form>

  </div>
</div>