<div class="change-password-wrapper">
  <div class="change-password-content ">
    <md-toolbar color="primary">
      <i class="fa fa-key" aria-hidden="true"></i>
    </md-toolbar>

    <form id="change-password-form" novalidate [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <md-input-container>
        <input mdInput type="password" placeholder="password" class="full-width" formControlName="password" name="" value="">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" placeholder="confirm" class="full-width" formControlName="confirm" name="" value="">
      </md-input-container>

      <div class="btn-wrapper">
        <button type="submit" md-raised-button color="primary">Change</button>
        <a routerLink="/auth/login" md-raised-button color="primary">Login</a>
      </div>
    </form>

  </div>
</div>